body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 242, 249);
}

#gameBoard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 100px;
    background-color: rgb(209, 183, 223);
    border: solid 1px rgb(8, 47, 186);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}


h1, h2, h3, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

