* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
    box-sizing: border-box;
    
}

button[type=submit], input[type=button] {
    border: none;
    color: antiquewhite;
    max-width: content;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: grab;
}

form {
    margin: 1rem;
    padding: 2rem;
    background-color: darkslategray;
    border-radius: 2rem;
}

h1, h2, h3, h4, p, figcaption  {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

h4 {
    color: cadetblue;
}

/* .crew-img, img {
    display: flexbox;
    justify-content: center;
} */

#post-form {
    background-color: lightskyblue;
}

#update-post {
    background-color: rgb(232, 231, 231);
}

.founders-div, .crew-list {
    display: flexbox;
    justify-content: center;
    margin: 1;
    padding: 0;
}

.footer {
    display: flexbox;
    text-align: center;
    background-color: rgba(170, 169, 169, 0.977);
    color: darkslategray;
    width: 100%;
    margin: 0rem;
    padding: 1.5rem;
}

.header {
    background-color: black;
}

.site-title {
    font-size: xx-large;
    text-align: center;
}

.title {
    font-size: x-large;
    text-align: center;
}

.sub-title {
    font-size: large;
    text-align: center;
}

.carousel-inner, .item, img{
    width: 600px;
    max-height: 600px;
    margin: auto;
    padding: auto;
}

.carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.table {
    display: flexbox;
    text-align: center;
}

.nav {
    /* background-color: black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    /* color: gold; */
    text-decoration: none;
    cursor: grab;
    padding: 1;
    margin: 0.5;
    list-style: none;
    display: flex;
}

.nav-link:hover {
    color: goldenrod;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  /* ---CUSTOM CLASS NAME SELECTORS--- */

.cover-div, .Founders-div, .crew-img, .TRH-Crew-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.TRH-Crew-div {
    border-radius: 5%;
}

#cover-big {
    max-width: 100%;
    height: auto;
}

#cover-small {
    width: 500px;
    display: none;
}