* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: xx-large;
    align-content: center;
}

.nav Button {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav Button:hover {
    color: goldenrod;
}

button {
    cursor: grab;
}