body{
   color: navy;
   background-color: bisque;
}

img {
   display: flex;
   justify-content: center;
}

h1, h2, h3, h4 {
   text-align: center;
}

input {
   margin: .5rem;
   padding: 0;
   text-align: center;
   justify-content: center;
}

form {
   text-align: center;
   justify-content: center;
   border-radius: 1rem;
   margin: 1rem;
   padding: 1rem;
   background-color: cadetblue;
}

table {
   display: flexbox;
   text-align: center;
   justify-content: center;
}

.container {
   justify-content: center;
}