/* Styling for TRH website */

/* ---ELEMENT SELECTORS--- */

html{
    font-family: Calibri;
    font-size: medium;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1%;
    box-sizing: border-box;
}

h1{
    font-size: xx-large;
    text-align: center;
}

h2{
    font-size: x-large;
    text-align: center;
}

h3, p{
    font-size: large;
    text-align: center;
}

img{
    display: flex, inline-block, center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    border-radius: 3%;
    max-height: auto;
    max-width: 1000px;
}

table {
    border: 1px solid;
    width: 75%;
    background-color: slategrey;
}

thead, th, td, tr {
    border: 1px solid;
    height: 40px;
}

form {
    font-size: large;
    text-align: left;
    max-width: 100%;
    height: auto;
    padding: 5%;
    background-color: rgb(89, 112, 112);
    border-radius: 2%;
}

input [type=text], input [textarea], textarea {
    width: 100%;
    height: 100px;
    padding: 12px, 20px;
    margin: 8px, 0;
    box-sizing: border-box;
}

button[type=submit], input[type=button] {
    background-color: rgb(41, 94, 80);
    border: none;
    color: antiquewhite;
    max-width: min-content;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 4px 2px;
    cursor: grab;
}

input [type=radio] {
    display: block;
    position: relative;
}

a {
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    overflow: hidden;
    list-style-type: none;
}

ul li {
    list-style-type: none;
    display: inline-block;
    justify-content: space-around;
}

nav ul li a:hover{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: darkgoldenrod;
    text-decoration: none;
}

figcaption {
    text-align: center;
    padding: 2%;
}

/* ---CUSTOM CLASS NAME SELECTORS--- */

.cover-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cover-big {
    max-width: 100%;
    height: auto;
}

#cover-small {
    width: 500px;
    display: none;
}

img.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 1rem;
    border-radius: 10px;
}

.founders-div , .trh-crew-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    max-width: 100%;
    height: auto;
}

#crew-list {
    justify-content: space-around;
    align-content: center;
    border-radius: 100%;
}

.merch-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around, center;
    border-radius: 2%;
}

.merch-table {
    display: inline-block;
}

.header {
    text-align: center;
}

.border {
    justify-content: center;
    border-color: antiquewhite;
}

.form {
    justify-content: space-around;
    align-content: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

a:link {
    color: darkgoldenrod;
}

a:visited{
    color: cyan;
}

a:hover{
    color: darkcyan;
}
a:active{
    color: darkgoldenrod;
}

/* ----- MEDIA QUERIES for RESPONSIVE DESIGN ----- */

@media only screen and (max-width: 800px){
    .TRH-Cover img {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 300px){
    body {
        margin: 1rem;
    }
    p,li {
        font-size: large;
    }
    #cover-big {
        display: none;
    }
    #cover-small {
        display: block;
    }
}


/* ------------------------- */